<button class="goto" [class.disabled-goto]="!(stateService.userLocation && stateService.endpoint)" mat-raised-button
  #tooltip="matTooltip" matTooltip="Info about the action" [matTooltipPosition]="'above'" matTooltipHideDelay="100000">
  <svg class="compass">
    <image xlink:href="assets/icons/nav-compass.svg" src="assets/icons/nav-compass.svg" width="100%" height="100%">
    </image>
  </svg>
  <svg class="compass-arrow" [ngStyle]="{'transform' : 'rotate(' + deg + 'deg)'}">
    <image xlink:href="assets/icons/nav-arrow.svg" src="assets/icons/nav-arrow.svg" width="100%" height="100%">
    </image>
  </svg>
</button>
