@import "mixins";

:host {
  width: 64px;
  .goto {
    border: none;
    background: transparent;

    svg {
      width: 100%;
      @include shadow;
    }
  }

  .disabled-goto {
    filter: brightness(0.5);
    pointer-events: none;
  }
}
