@import "mixins";

:host {
  position: fixed;
  left: calc(50% - 32px);
  width: 64px;
  bottom: 8px;

  .goto {
    border: none;
    background: transparent;

    svg {
      width: 100%;
      @include shadow;
    }
  }

  .disabled-goto {
    filter: brightness(0.5);
    pointer-events: none;
  }
}
