@import "variables";

:host {
  width: min-content;
  .button {
    display: block;
    margin-top: 4px;
  }
}

@media (max-height: $sm-height) {
  :host {
    .zoom-controls {
      display: flex;
    }
  }
}
