@import "mixins";
@import "variables";

.info {
  @include shadow;
  position: fixed;
  top: 20px;
  right: 40px;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  padding: 0;
  opacity: 0.9;
}

.search,
.canva,
.floor-switcher,
.whereabouts,
.nav-button,
.settings {
  position: fixed;
}

.search {
  width: 50%;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.canva {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.floor-switcher {
  left: 12px;
  bottom: 64px;
  z-index: 3;
}

.whereabouts {
  bottom: 64px;
  right: 42px;
  z-index: 3;
}

.nav-button {
  left: calc(50% - 32px);
  bottom: 8px;
  z-index: 3;
}

.settings {
  bottom: 160px;
  right: 32px;
  z-index: 4;
}

@media (max-width: $portrait) {
  .search {
    width: 90%;
  }
  .info {
    top: 80px;
  }
}

@media (max-width: $middle) {
  .settings {
    right: 14px;
  }

  .whereabouts {
    right: 32px;
  }
}

@media (max-width: $lowgen) {
  .search {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
  }

  .info {
    display: none;
  }
}
