@import "mixins";
@import "variables";

.gui-overlay,
.canva {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gui-overlay {
  user-select: none;
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content auto;
  z-index: 2;
  .top-section,
  .left-section,
  .right-section {
    display: flex;
    > * {
      pointer-events: all;
    }
  }
  .left-section,
  .right-section {
    flex-direction: column;
    gap: 32px;
    @supports not (gap: 32px) {
      margin-bottom: -32px;
      > * {
        margin-bottom: 32px;
      }
    }
    padding-top: 8px;
  }

  .top-section {
    justify-content: center;
    grid-column: 2 span;
  }

  .left-section {
    justify-content: space-between;
    .floor-switcher,
    .centered-button,
    .zoom-controls {
      display: block;
      margin-right: auto;
    }
  }

  .right-section {
    justify-content: flex-end;
    .whereabouts,
    .settings,
    .manual {
      margin-left: auto;
    }
  }
}

// -------------------------------- WIDTH ADAPTIVE
@media (min-width: $lg) {
  .gui-overlay {
    padding-left: 44px;
    padding-right: 44px;
  }
}

@media (max-width: $lg) and (min-width: $md) {
  .gui-overlay {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: $md) {
  .gui-overlay {
    padding-left: 18px;
    padding-right: 18px;
  }
}
// ------------------------------- HEIGHT ADAPTIVE
@media (min-height: $xl-height) {
  .gui-overlay {
    padding-top: 16px;
    padding-bottom: 72px;
    .left-section,
    .right-section {
      gap: 64px;
      @supports not (gap: 64px) {
        margin-bottom: -64px;
        > * {
          margin-bottom: 64px;
        }
      }
    }
  }
}

@media (max-height: $xl-height) and (min-height: $md-height) {
  .gui-overlay {
    padding-top: 8px;
    padding-bottom: 52px;
    .left-section,
    .right-section {
      gap: 52px;
      @supports not (gap: 52px) {
        margin-bottom: -52px;
        > * {
          margin-bottom: 52px;
        }
      }
    }
  }
}

@media (max-height: $md-height) and (min-height: $sm-height) {
  .gui-overlay {
    padding-top: 8px;
    padding-bottom: 32px;
    .left-section,
    .right-section {
      gap: 32px;
      @supports not (gap: 32px) {
        margin-bottom: -32px;
        > * {
          margin-bottom: 32px;
        }
      }
    }
  }
}

@media (max-height: $sm-height) {
  .gui-overlay {
    padding-top: 8px;
    padding-bottom: 24px;
    .left-section {
      gap: 10px;
      @supports not (gap: 10px) {
        margin-bottom: -10px;
        > * {
          margin-bottom: 10px;
        }
      }
    }
  }
}
