@import "mixins";
@import "variables";

.whereabouts {
  position: relative;
  border-radius: 999px;
  border: none;
  width: 64px;
  height: 64px;
  background-color: $base-color;
  @include shadow;
  .icon {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 58px;
    height: 58px;
  }
}

::ng-deep {
  .qr-scan-area {
    position: relative;
    zxing-scanner {
      max-width: 100%;
    }
    .qr-area {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100% - 50px);
      top: 0;
      width: 100%;
      .area {
        height: 200px;
        width: 200px;
        border: 2px solid red;
      }
    }
  }
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 2.5%;
  bottom: calc(5% + 32px);
  width: 95%;
  height: 80%;
  background: radial-gradient(
    circle at center,
    rgb(245, 245, 245),
    rgb(208, 208, 208)
  );
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 5;
  .close-btn {
    position: absolute;
    left: 50%;
    bottom: -32px;
    transform: translateX(-50%);
    font-size: 64px;
    border-radius: 99px;
    width: 64px;
    height: 64px;
    color: white;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $base-color;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8px;
  }
}
