@import "mixins";
@import "variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 5.5em;
  cursor: pointer;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 76px;
    @include shadow;
    background-color: transparent;
    .icon {
      margin: auto;
      width: 100%;
      height: 75%;
    }
    &:active {
      .icon {
        filter: brightness(0.9);
      }
    }
    &.down-btn {
      .icon {
        transform: scaleY(-1);
      }
    }
    &.disabled {
      pointer-events: none;
      filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5))
        drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.4))
        drop-shadow(0 6px 12px rgba(0, 0, 0, 0.3)) brightness(0.75);
    }
  }
}

.floor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  border-bottom: 2px solid $base-color;
  background-color: change-color($color: $base-color, $alpha: 0.1);
  label {
    background-color: $base-color;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 1em;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    @include shadow;
  }
  .floor-container {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
    height: 1.4em;
    width: 100%;
    overflow-y: hidden;
    @include glassmorphism(6px);
    .floor-number {
      transition: 0.3s;
      transition-timing-function: ease-in-out;
      line-height: 1.4;
    }
  }
}
