<button
  class="up-btn"
  (click)="upFloor()"
  [class.disabled]="isMaxFloor$ | async"
>
  <svg class="icon">
    <use xlink:href="assets/icons/sprite.svg#arrow-up"></use>
  </svg>
</button>
<div
  class="floor"
  appMouseWheel
  (eventUp)="upFloor()"
  (eventDown)="downFloor()"
>
  <label for="">
    {{ "UI.FLOOR" | translate }}
  </label>
  <div class="floor-container">
    <div
      class="floor-number"
      *ngFor="let fl of floorList"
      [ngStyle]="floorNumberPositionStyle$ | async"
    >
      {{ fl }}
    </div>
  </div>
</div>
<button
  class="down-btn"
  (click)="downFloor()"
  [class.disabled]="isMinFloor$ | async"
>
  <svg class="icon">
    <use xlink:href="assets/icons/sprite.svg#arrow-up"></use>
  </svg>
</button>
