@import "mixins";
@import "variables";

$host-width: 4em;
$btn-bgr-color: rgba($base-color, 1);
$button-height: 36px;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: $host-width;
  padding: calc(#{$button-height} / 2 + 4px) 0;
  cursor: pointer;
  button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $button-height;
    padding: 0;
    @include shadow;
    background-color: $btn-bgr-color;

    .icon {
      width: 100%;
      height: calc(100% + 0.5em);
      z-index: 2;
    }

    &:active {
      .icon {
        filter: brightness(0.9);
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      width: 5px;
      height: 0;
      z-index: 0;
      border-color: $btn-bgr-color;
      border-width: 0;
      border-style: solid;
    }

    &.up-btn {
      &::after {
        border-left: calc(#{$host-width} / 2) solid transparent;
        border-bottom-width: 1.5em;
        border-right: calc(#{$host-width} / 2) solid transparent;
        top: 0;
        transform: translateY(-100%);
      }
      .icon {
        margin-top: -1em;
      }
    }

    &.down-btn {
      .icon {
        transform: scaleY(-1);
        margin-bottom: -1em;
      }
      &::after {
        border-left: calc(#{$host-width} / 2) solid transparent;
        border-top-width: 1.5em;
        border-right: calc(#{$host-width} / 2) solid transparent;
        bottom: 0;
        transform: translateY(100%);
      }
    }

    &.disabled {
      pointer-events: none;
      filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5))
        drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.4))
        drop-shadow(0 6px 12px rgba(0, 0, 0, 0.3)) brightness(0.75);
    }
  }
}

.floor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  border-bottom: 2px solid $base-color;
  background-color: rgba($base-color, 0.3);
  @supports not (backdrop-filter: blur(6px)) {
    background-color: rgba($base-color, 0.5);
  }
  label {
    background-color: $base-color;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 1em;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    @include shadow;
  }
  .floor-container {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
    height: 1.4em;
    width: 100%;
    overflow-y: hidden;
    @include glassmorphism(6px);
    .floor-number {
      transition: 0.3s;
      transition-timing-function: ease-in-out;
      line-height: 1.4;
    }
  }
}
