<div class="floor">
  <label for="">
    {{ "UI.FLOOR" | translate }}
  </label>
  <div>
    {{floorService.floor}}
  </div>
</div>
<button class="up-btn" (click)="upFloor()" [class.disabled]="floorService.isMaxFloor()">
  <svg class="icon">
    <use xlink:href="assets/icons/sprite.svg#arrow-up"></use>
  </svg>
</button>
<button class="down-btn" (click)="downFloor()" [class.disabled]="floorService.isMinFloor()">
  <svg class="icon">
    <use xlink:href="assets/icons/sprite.svg#arrow-up"></use>
  </svg>
</button>
