@import "mixins";
@import "variables";

:host {
  display: block;
}

.button {
  @include shadow;
  padding: 0;
  background-color: $base-color;
  border-radius: 99px;
  padding: 0;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: help;
  .icon {
    width: 100%;
    height: 100%;
  }
}
