@import "variables";

:host {
  position: relative;
  display: flex;
  overflow: hidden;
  transition: $map-drag-smoothing;
}

.container {
  position: absolute;
  transition: inherit;
  cursor: move;
  z-index: 0 !important;
  .zoom-wrapper {
    transition: $zoom-transition;
  }
  .main-cursor {
    display: none;
    transition: 0.5s;
  }
}

.canv {
  pointer-events: none;
  width: max-content;
  height: max-content;
  flex-shrink: 0;

  $dot-color: mix($secondary-tone, transparent, 20%);
  background-image: radial-gradient($dot-color 1px, transparent 1px);
  background-position: 20px 24px;
  $sector-size: 24px;
  background-size: $sector-size $sector-size;
}

#bgr-canv {
  z-index: 1;
}

#canv {
  position: absolute;
  z-index: 2;
}
