@import "variables";

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: grab;
  .pan-zoom-container {
    .container {
      position: relative;
    }
  }
}

.canv {
  pointer-events: none;
  width: max-content;
  height: max-content;
  flex-shrink: 0;

  $dot-color: mix($secondary-tone, transparent, 20%);
  background-image: radial-gradient($dot-color 1px, transparent 1px);
  background-position: 20px 24px;
  $sector-size: 24px;
  background-size: $sector-size $sector-size;
}

#bgr-canv {
  z-index: 1;
}

#canv {
  position: absolute;
  z-index: 2;
}
