:host {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  max-width: 900px;
  max-height: 80vh;
  section {
    overflow-y: auto;
    padding: 20px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    button{
      padding: 10px 25px;
      font-size: 18px;
    }
  }
}
