<section>
  <h1>Руководство</h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum corrupti quam distinctio a itaque reprehenderit
  suscipit optio hic nulla, nihil eum at fugit nobis qui corporis enim, reiciendis perferendis dolor repellendus ratione
  accusantium. Totam cum minima molestiae error eaque laudantium, ducimus possimus distinctio obcaecati nulla
  consectetur quasi ad facere! Cumque eos amet odit totam. Provident facere est numquam vel consequuntur, soluta in,
  dolore enim hic corrupti ullam esse similique cupiditate, accusantium minus magni accusamus. Iure distinctio
  perferendis fugiat obcaecati asperiores soluta alias repudiandae nam dolores ut consectetur aspernatur a dolore
  maxime, velit architecto optio eum impedit reprehenderit veritatis sunt totam!
  <h2>{{ "INFO.INTERFACE.TITLE" | translate }}</h2>
  В самом верху, находится <strong>форма поиска</strong>, в которую можно ввести название аудитории или другого помещения. Далее следует нажать кнопку поиска (лупа), либо же кнопку очистки (крестик).
  В первом случае, на карте будет подсвечено расположение данного помещения.<br>
  В левом нижнем углу, находится <strong>переключатель этажей</strong><br>
  Внизу окна приложения, в центре, находится <strong>кнопка прокладки маршрута с компасом</strong>, показывающим ориентацию вашего устройства, относительно карты<br>
  В правом нижнем углу, находятся 3 кнопки:
  <ul>
    <li>Кнопка с иконкой QR кода - позволяет отсканировать QR код в здании, и определить местоположение кода относительно здания</li>
    <li>Кнопка настроек</li>
    <li>Кнопка справочника, благодаря которой, вы сюда попали</li>
  </ul>
  <h2>{{ "INFO.AUTHORS.TITLE" | translate }}</h2>
  <ul>
    <li>Бида Богдан</li>
    <li>Котелевец Егор
    <li>Поляков Денис
    <li>Тягло Евгений
  </ul>
  <h3>{{ "INFO.SUPPORT.TITLE" | translate }}</h3>
  <ul>
    <li>
      <a href="">guidemap.support@gmail.com</a>
    </li>
  </ul>
</section>
<nav>
  <strong>{{ "INFO.FOOTER" | translate }}</strong>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
    OK
  </button>
</nav>
