<form class="select" [formGroup]="formGroup">
  <div class="icon-wrapper">
    <svg class="icon">
      <use [attr.xlink:href]="spriteIconsUrl + svgIconId"></use>
    </svg>
  </div>
  <mat-form-field class="form-field" appearance="legacy">
    <mat-label class="label">{{ labelText | translate }}</mat-label>
    <input
      class="input"
      type="search"
      matInput
      formControlName="value"
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-option [value]="''">{{ "UI.CANCEL" | translate }}</mat-option>
      <mat-optgroup
        *ngFor="let group of formGroupValues | async"
        [label]="group.groupName"
      >
        <mat-option *ngFor="let room of group.values" [value]="room.viewValue">
          {{ room.viewValue }}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
  <button
    type="submit"
    class="submit-btn"
    [class.isLighting]="isChanged"
    (click)="findLocation()"
    *ngIf="!selectedValue || isChanged"
  >
    <svg class="icon">
      <use [attr.xlink:href]="spriteIconsUrl + 'search'"></use>
    </svg>
  </button>
  <button
    type="reset"
    class="reset-btn"
    (click)="resetLocation()"
    *ngIf="selectedValue && !isChanged"
  >
    <svg class="icon">
      <use [attr.xlink:href]="spriteIconsUrl + 'cross'"></use>
    </svg>
  </button>
</form>
