@import 'mixins';
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 160px;
  right: 32px;

  .settings-btn {
    height: 52px;
    width: 52px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    @include shadow;
  }

  z-index: 2;
}

@media (max-width: 720px) {
  :host {
    right: 14px;
  }
}
