@import '../../../../mixins.scss';

:host {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 25%;
    right: 12px;
    .settings-btn {
        display: flex;
        height: 52px;
        width: 52px;
        justify-content: center;
        background-color: transparent;
        @include shadow;
    }
    z-index: 2;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2.5%;
    bottom: calc(5% + 32px);
    width: 95%;
    height: 80%; 
    background: radial-gradient(circle at center, rgb(245, 245, 245), rgb(208, 208, 208));
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 5;
    .close-btn {
        position: absolute;
        left: 50%;
        bottom: -32px;
        transform: translateX(-50%);
        font-size: 64px;
        border-radius: 99px;
        width: 64px;
        height: 64px;
        color: white;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #24C6FB;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 8px;
        button {
            width: 72px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 8px;
            background-color: transparent;
            svg {
                width: 52px;
                height: 52px;
            }
            &:active {
                @include click;
            }
        }
    }
}