@import 'mixins';
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  .settings-btn {
    height: 52px;
    width: 52px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    @include shadow;
  }
}
