@import "variables";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  .container {
    display: grid;
  }
  .dialog-footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    button {
      padding: 10px 25px;
      font-size: 18px;
    }
  }
}
