<div class="container">
  <form [formGroup]="langFG">
    <mat-form-field>
      <mat-label>{{ 'SETTINGS.CHOOSE_LANG' | translate }}</mat-label>
      <mat-select formControlName="lang">
        <mat-option *ngFor="let lang of languages" [value]="lang.value">{{lang.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<nav>
  <button (click)="reset()" class="btn-cancel">
    {{ 'UI.CANCEL' | translate }}
  </button>
  <button mat-button [mat-dialog-close]="true" class="btn-ok" type="button">
    OK
  </button>
</nav>
