@import "variables";
@import "mixins";

$icon-width: 3em;

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 8px;
  .search-bar {
    width: min-content;
  }
}
