<form class="form" [formGroup]="stateForm">
  <div class="select whereabouts-select">
    <div class="icon-wrapper">
      <svg class="icon">
        <use xlink:href="assets/icons/sprite.svg#location-marker"></use>
      </svg>
    </div>
    <mat-form-field class="form-field" appearance="legacy">
      <mat-label class="label">{{ "UI.ENTER_LOCATION" | translate }}</mat-label>
      <input
        class="input"
        type="text"
        matInput
        formControlName="stateGroup"
        [matAutocomplete]="autoGroup"
      />
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-option>{{ "UI.CANCEL" | translate }}</mat-option>
        <mat-optgroup
          *ngFor="let group of stateGroupOptions | async"
          [label]="group.groupName"
        >
          <mat-option *ngFor="let room of group.rooms" [value]="room.viewValue">
            {{ room.viewValue }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="select endpoint-select">
    <div class="icon-wrapper">
      <svg class="icon">
        <use xlink:href="assets/icons/sprite.svg#destination-marker"></use>
      </svg>
    </div>
    <mat-form-field class="form-field" appearance="legacy">
      <mat-label class="label">{{ "UI.ENTER_ROOM" | translate }}</mat-label>
      <input
        class="input"
        type="text"
        matInput
        formControlName="stateGroup"
        [matAutocomplete]="autoGroup"
      />
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-option>{{ "UI.CANCEL" | translate }}</mat-option>
        <mat-optgroup
          *ngFor="let group of stateGroupOptions | async"
          [label]="group.groupName"
        >
          <mat-option *ngFor="let room of group.rooms" [value]="room.viewValue">
            {{ room.viewValue }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</form>
