<form class="form" [formGroup]="stateForm">
  <mat-form-field class="select" appearance="legacy">
    <mat-label class="label">{{ 'UI.ENTER_ROOM' | translate }}</mat-label>
    <input class="input" type="text" matInput formControlName="stateGroup" [matAutocomplete]="autoGroup">
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-option>{{ 'UI.CANCEL' | translate }}</mat-option>
      <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.groupName">
        <mat-option *ngFor="let room of group.rooms" [value]="room.viewValue">
          {{room.viewValue}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
  <div class="button-container">
    <button class="search-btn" (click)="findLocation()" *ngIf="locations?.length">
      <div></div>
    </button>
    <button (click)="clear()">&times;</button>
  </div>
</form>
