@import "variables";
@import "mixins";
@import "./burger-btn.scss";

.burger {
  position: fixed;
  top: 35%;
  left: 0;
  width: 32px;
  background-color: $base-color;
  z-index: 5;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 5px 5px;
  box-sizing: content-box;
  transition: all 0.2s, top 0s;
  &.checked {
    border-radius: 32px;
    margin-left: 10px;
  }
  @include shadow;
  z-index: 5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0px;
  z-index: 4;
  user-select: none;
  pointer-events: all;
  background-color: transparent;
  transition: 0.5s background-color;
  &.opened {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
  }
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  padding: 20px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  z-index: 4;
  transform: translateX(-100%);
  transition: $sidebar-animation-duration;
  border-radius: 50vw;
  filter: brightness(0.5);
  .content {
    display: none;
  }
  &.opened {
    transform: translateX(0);
    filter: brightness(1);
    border-radius: 0;
    box-shadow: 0 0 300px black;
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 10%;
      gap: 20px;
      width: 100%;
      min-height: 100%;
      overflow-y: auto;
      $animation-duration: 500ms;
      animation-name: appearance;
      animation-delay: calc(
        #{$sidebar-animation-duration} - #{$animation-duration}
      );
      animation-duration: $animation-duration;
      animation-timing-function: ease-out;
      animation-fill-mode: backwards;
      .whereabouts-form,
      .search {
        width: 100%;
        min-width: 200px;
      }
    }
  }
}

@keyframes appearance {
  from {
    transform: translateX(25%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: $portrait), (max-height: 460px) {
  .burger {
    top: 10px;
    right: 0;
    left: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &.checked {
      margin-right: 10px;
    }
  }
}

@media (max-width: $portrait) {
  .wrapper {
    width: 75vw;
    &.opened {
      .content {
        padding: 0 5%;
      }
    }
  }
}

@media (max-width: $small) {
  .burger {
    top: 92px;
  }
  .wrapper {
    width: 100vw;
  }
}
