<div class="container">
  <button>
    <svg>
      <image xlink:href="assets/icons/exit.svg"
      src="assets/icons/exit.svg" width="100%" height="100%"></image>
    </svg>
    Enter/Exit
  </button>
  <button>
    <svg>
      <image xlink:href="assets/icons/wc.svg"
      src="assets/icons/exit.svg" width="100%" height="100%"></image>
    </svg>
    WC
  </button>
  <button>
    <svg>
      <image xlink:href="assets/icons/classroom.svg"
      src="assets/icons/exit.svg" width="100%" height="100%"></image>
    </svg>
    Classroom
  </button>
  <button>
    <svg>
      <image xlink:href="assets/icons/stairs.svg"
      src="assets/icons/exit.svg" width="100%" height="100%"></image>
    </svg>
    Stairs
  </button>
</div>
<button [mat-dialog-close]="true" class="close-btn">
  &times;
</button>
