<form class="container" [formGroup]="formGroup">
  <label>
    <svg>
      <image xlink:href="assets/icons/exit.svg" src="assets/icons/exit.svg" width="100%" height="100%"></image>
    </svg>
    <mat-checkbox formControlName="enterexit">
      Enter/Exit
    </mat-checkbox>
  </label>
  <label>
    <svg>
      <image xlink:href="assets/icons/wc.svg" src="assets/icons/exit.svg" width="100%" height="100%"></image>
    </svg>
    <mat-checkbox formControlName="wc">
      WC
    </mat-checkbox>
  </label>
  <label>
    <svg>
      <image xlink:href="assets/icons/classroom.svg" src="assets/icons/exit.svg" width="100%" height="100%"></image>
    </svg>
    <mat-checkbox formControlName="classrooms">
      Classrooms
    </mat-checkbox>
  </label>
  <label>
    <svg>
      <image xlink:href="assets/icons/stairs.svg" src="assets/icons/exit.svg" width="100%" height="100%"></image>
    </svg>
    <mat-checkbox formControlName="stairs">
      Stairs
    </mat-checkbox>
  </label>
</form>
<nav>
  <button (click)="reset()">
    Reset
  </button>
  <button mat-button [mat-dialog-close]="true" (click)="submit()">
    OK
  </button>
</nav>
