@import "mixins";
@import "variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;

  button {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    border-radius: 99px;
    background-color: $base-color;
    &::after {
      position: relative;
      display: block;
      content: "";
      border: 8px solid white;
      border-left: none;
      border-bottom: none;
      border-top-right-radius: 2px;
      width: 24px;
      height: 24px;
      box-sizing: border-box;
    }
    &:nth-child(2)::after {
      transform: rotate(-45deg);
      top: 2px;
    }
    &:nth-child(3)::after {
      transform: rotate(135deg);
      bottom: 2px;
    }
    @include shadow;
  }

  .disabled {
    pointer-events: none;
    filter: brightness(0.8);
    opacity: 0.8;
  }
}

.floor {
  display: flex;
  align-items: center;
  width: 52px;
  color: white;
  margin-bottom: 10px;
  border-right: 2px solid $base-color;
  border-radius: 4px;
  background-color: change-color($color: $base-color, $alpha: 0.1);
  opacity: 0.9;
  @include shadow;
  label {
    background-color: $base-color;
    font-size: 12px;
    line-height: 16px;
    padding: 5px 2px;
    @supports (writing-mode: vertical-rl) {
      writing-mode: vertical-rl;
    }
    @supports not (writing-mode: vertical-rl) {
      display: none;
    }
  }
  div {
    font-size: 24px;
    margin: 5px 10px;
  }
}
