@import "~@angular/material/theming";
@include mat-core();
$guidemap-primary: mat-palette($mat-indigo);
$guidemap-accent: mat-palette($mat-pink, A200, A100, A400);

$guidemap-warn: mat-palette($mat-red);
$guidemap-theme: mat-light-theme(
  (
    color: (
      primary: $guidemap-primary,
      accent: $guidemap-accent,
      warn: $guidemap-warn,
    ),
  )
);

@include angular-material-theme($guidemap-theme);

@import "mixins";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  overflow: hidden;
  background: radial-gradient(
    circle at center,
    rgb(225, 225, 225),
    rgb(200, 200, 200)
  );
  color: #000000;
}

button {
  border: none;
  cursor: pointer;
  &:active {
    @include click;
  }
}
