$base-color: #358dff;

$positive: #f5f5f5;
$negative: black;
$negative-secondary: #262626;
$secondary-tone: #444444;

$background: radial-gradient(
  circle at center,
  rgb(225, 225, 225),
  rgb(200, 200, 200)
);

$search-bar-bg: linear-gradient(
  to right,
  mix(rgba(228, 228, 228, 0.8), $base-color, 90%),
  mix(rgba(228, 228, 228, 0.8), #1681a5, 90%)
);

// breakpoints
$lowgen: 320px;
$small: 568px;
$middle: 768px;
$portrait: 900px;
$large: 1024px;
